Repository chef/omnibus-toolchain, pull requests merged in 2021-07, with the labels that each got.

#167 Updating expeditor configurations
  .expeditor/config.yml
Labels: Expeditor: Skip All

#159 Update some platform information in the readme
  README.md
Labels: Expeditor: Skip All

#162 Remove the GitHub lockfile config
  .github/lock.yml
Labels: Expeditor: Skip All

#176 Remove rubygems and bundler dependencies
  config/software/omnibus-toolchain.rb
Labels: Expeditor: Skip Omnibus

#173 Stop building on EOL Ubuntu 16.04
  .expeditor/angry-release-canary.omnibus.yml
  .expeditor/angry-release.omnibus.yml
  .expeditor/release-canary.omnibus.yml
  .expeditor/release.omnibus.yml
  kitchen.yml
Labels: Expeditor: Bump Version Minor, Expeditor: Skip Omnibus

#172 Remove workaround for Solaris 10 / FreeBSD 9
  config/software/omnibus-toolchain.rb
Labels: Expeditor: Skip Omnibus

#160 Stop producing builds for Debian 8
  .expeditor/angry-release-canary.omnibus.yml
  .expeditor/angry-release.omnibus.yml
  .expeditor/release-canary.omnibus.yml
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Omnibus

#174 Remove gtar check for < 1.32
  config/software/gtar.rb
  config/software/helper-gems.rb
  config/software/omnibus-toolchain.rb
Labels: Expeditor: Skip Omnibus

#164 Update Ruby from 2.7.2 to 2.7.4
  config/projects/omnibus-toolchain.rb
Labels: Expeditor: Skip Omnibus

#171 Remove the legacy maintainers file / task
  MAINTAINERS.md
  MAINTAINERS.toml
  Rakefile
  tasks/maintainers.rb
Labels: Expeditor: Skip Omnibus

#177 Build nokogiri later to optimize omnibus cache
  config/software/omnibus-toolchain.rb
Labels: Expeditor: Skip Omnibus

#178 Only build berkshelf on specific platforms
  .expeditor/config.yml
  config/projects/omnibus-toolchain.rb
  config/software/omnibus-toolchain.rb
  omnibus-test.sh
  package-scripts/angry-omnibus-toolchain/postinst
  package-scripts/omnibus-toolchain/postinst
Labels: Expeditor: Skip Omnibus

#180 Test freebsd packages on freebsd 13
  .expeditor/angry-release-canary.omnibus.yml
  .expeditor/angry-release.omnibus.yml
  .expeditor/release-canary.omnibus.yml
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#183 Update platforms in pipelines
  .expeditor/angry-release-canary.omnibus.yml
  .expeditor/angry-release.omnibus.yml
  .expeditor/release-canary.omnibus.yml
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#184 Fix platforms in canary pipelines
  .expeditor/adhoc-canary.omnibus.yml
  .expeditor/angry-adhoc-canary.omnibus.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All
